<div class="mainheader">
  <img src="assets/img/pork.jpg" alt="" class="img-responsive">
</div>
<div class="listing">
<div class="container">
	<div  class="row">
	  <div class="col-sm-4">
	   	<div class="sidebar">
	   		
	   		<div class="well">
	        <ul class="nav nav-list">
			    <li class="nav-header"><h5 class="text-center">Cooks</h5></li>   
			    <li ui-route="/cooks/{{cook.$id}}" ng-class="" ng-repeat="cook in cooks | orderByPriority">
			      <a ng-href="#/cooks/{{cook.$id}}" title="">{{cook.info.first}} <span class="badge pull-right">{{size(cooks[cook.$id]['recipe'])}}</span></a> 

			    </li>
			 </ul>

				<!-- <ul class="nav nav-list">
					<li class="nav-header"><h5 class="text-center">Recipes</h5></li>   
					<li ui-route="/main/recipe/{{recipe.id}}" ng-class="{active:checkActive(recipe.id)}" ng-repeat="recipe in recipes">
						<a  ng-href="#/main/recipe/{{recipe.id}}" title="">{{recipe.name}}</a> 
					</li>
				</ul> -->
				
			</div>
	   	</div>
	   </div> 
	   <div class="col-sm-8 recipecontent">
	   	<div ui-view="content"></div>
	   </div>
	</div>
</div>
</div>