<a ng-href="#/cooks/{{cookid}}">Back to Recipe Feed</a>

<div class="row">
	<div class="col-sm-9"><h2>{{cookrecipe.name}}</h2></div><div class="edit col-sm-3">

	</div> 
</div>
<div class="well" ng-model="cookrecipe.ingredients" line-breaks></div>
Directions:
<div ng-model="cookrecipe.instructions"  line-breaks></div>
