

	
        <ul class="nav nav-list">
		    <li class="nav-header"><h5 class="text-center">{{cookname.info.first}}'s Feed</h5></li>   
		    <li ui-route="/cooks/{{cookid}}/recipe/{{recipe.$id}}" ng-class="" ng-repeat="recipe in cookrecipelist | orderByPriority">
		     
		      	<a ng-href="#/cooks/{{cookid}}/recipe/{{recipe.$id}}" title=""><h4>{{recipe.name}}</h4></a>
		    
		      <small>Last Edited {{getDate(recipe.lastedit)}}</small>
		    </li>
		 </ul>

