<div class="signup">
  <div class="container ">
    <div class="row logintitle">
      <h2 class="text-center">My Recipes</h2>

    <!-- <form class="form-inline" role="form">
       <div class="form-group">
        <label class="sr-only" for="exampleInputEmail2">Email address</label>
        <input type="text" ng-model="user.login" class="form-control" id="user" placeholder="User">
      </div>
      <div class="form-group">
        <label class="sr-only" for="exampleInputPassword2">Password</label>
        <input type="password"  ng-model="user.password" class="form-control" id="pass" placeholder="Password">
      </div>
      <button type="submit" class="btn" ng-click="doLogin()">Login</button>
      </form> -->
     
      <div class="col-sm-4 col-sm-offset-4">

          <button type="submit" class="btn btn-block btn-primary btn-lg" ng-click="doFBLogin()">Login with Facebook</button>
          
      </div>

        <!-- <div class="col-xs-6" >
         <br>
          <button class="btn btn-xs btn-warning" ng-click="$storage.$reset()">Clear localStorage</button>
        </div> -->
        <!-- <div class="alert col-xs-6">
        logged in: {{isLoggedIn()}} <button type="button" class="btn btn-xs" ng-show="isLoggedIn()" ng-click="doLogout()">Logout</button>
        </div> -->
    </div>
  </div>
</div>



