

	<h5 class="text-center">My Feed</h5>
        <div class="list-group">
		    
		    
		     
		      	<a class="list-group-item" ui-route="/cooks/{{recipe.poster}}/recipe/{{recipe.$id}}" ng-class="" ng-repeat="recipe in fullfeed | orderByPriority" ng-href="#/cooks/{{recipe.poster}}/recipe/{{recipe.$id}}" title=""><h4>{{recipe.name}}</h4> <small class="label label-info"> by {{userlist[recipe.poster]['info']['first']}}</small></a>
		    
		      
		    
		 </div>
