.mainheader{
  border-bottom: 2px solid darken(#3c94b3, 10%);
  img{min-width:100%;}
}
.recipecontent{
  margin-bottom: 50px;
}
.jumbotron {
  margin: 40px 0 80px 0;
  text-align: center;

  h1 {
    margin-bottom: 20px;
    font-size: 55px;
    line-height: 1;
  }

  .lead {
    font-size: 24px;
    line-height: 1.25;
  }

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

.marketing {
  .row {
    margin-bottom: 10px;
  }

  .row:last-child {
    margin-bottom: 0;
  }
  
  h4 [class*=" icon-"], h4 [class^="icon-"] {
    margin-right: 5px;
    vertical-align: -10%;
    font-size: 28px;
    line-height: 1;
  }
}
.sidebar-nav .well{
  padding:8px 0px;
}
.nav-list>li>a{
  padding: 5px 15px;
  // margin-left: -19px;
}
.nav-list>.active>a, .nav-list>.active>a:hover, .nav-list>.active>a:focus {
color: #ffffff;
text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
background-color: #0088cc !important;
}

.recipeedit:hover{
  text-decoration: none;
}