<form name="recipeForm"  ng-submit="save()" >

<div class="control-group">
    <label class="control-label" for="title">Title:</label>
    <div class="controls">
      <input ng-model="item.name" class="input-xlarge form-control" id="title" focus required>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="title">Ingredients:</label>
    <div class="controls">
      <textarea ng-model="item.ingredients" rows="3" class="input-xlarge form-control" id="ingredients" focus required></textarea>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="title">Directions:</label>
    <div class="controls">
      <textarea ng-model="item.instructions" rows="3" class="input-xlarge form-control" id="instructions" focus required></textarea>
    </div>
  </div>
    <div class="form-actions">
    <button class="btn btn-primary" ng-disabled="recipeForm.$invalid">Save</button>
    <button type="button" ng-click="delRec()" ng-show="!!(currid)" class="btn">Delete</button>
  </div>
</form>