
<div class="row">
	<div class="col-sm-9"><h2>{{item.name}}</h2></div><div class="edit col-sm-3">
	<a ng-href="#/main/edit/{{currid}}" class="recipeedit" title=""><span class="label label-info ">Edit</span></a>
	</div> 
</div>
{{item.id}}
<div class="well" ng-model="item.ingredients" line-breaks></div>
Directions:
<div ng-model="item.instructions" line-breaks></div>



