/**
 * This is the main application stylesheet. It should include or import all
 * stylesheets used throughout the application as this is the only stylesheet in
 * the Grunt configuration that is automatically processed.
 */


/**
 * First, we include the Twitter Bootstrap LESS files. Only the ones used in the
 * project should be imported as the rest are just wasting space.
 */

@import '../../vendor/bootstrap/less/bootstrap.less';


/**
 * This is our main variables file. It in turn imports the `variables` file from
 * Twitter Bootstrap. We must include it last so we can overwrite any variable
 * definitions in our imported stylesheets.
 */

@import 'variables.less';



/**
 * Typography
 */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Regular'), local('Roboto-Regular'), url(fonts/Roboto-Regular.woff) format('woff');
}

code, pre, .pre {
  padding: 5px;
  margin: 10px 0;
  background-color: #EFEFEF;
  border: 1px solid #DADADA;
  // .border-radius(3px);
}

code {
  padding: 0 3px;
}

pre {
  margin: 10px 0;
  padding: 5px;
}

.page-header {
  margin-top: 60px;

  &:first-child {
    margin-top: 20px;
  }
}

h2,.edit {
  margin: 20px 0;
  color: #666;
}


/**
 * Navigation
 */
 @navbar-border-radius:0;
@navbar-default-bg: #3c94b3;
@navbar-default-link-color: white;
@navbar-default-link-active-color: darken(white, 10%);

.navbar {
  margin-bottom: 0;
  .navbar-inner {
    padding: 0;
  }

  // .nav {
  //   margin: 0;
  //   display: table;
  //   width: 100%;

  //   li {
  //     display: table-cell;
  //     width: 1%;
  //     float: none;

  //     a {
  //       font-weight: bold;
  //       text-align: center;
  //       //border-left: 1px solid rgba(255, 255, 255, 0.75);
  //       border-right: 1px solid rgba(0, 0, 0, .1);
  //     }
      
  //     &:first-child a {
  //       border-left: 0;
  //       border-radius: 3px 0 0 3px;
  //     }
      
  //     &:last-child a {
  //       border-right: 0;
  //       border-radius: 3px 0 0 3px;
  //     }
  //   }
  // }
}
.listing{
  background:url("img/grid_noise.png");
}
.well{
  background-color: rgba(255, 255, 255, 0.5);
  a{
    color:#2c2c2c;
    font-size: 1.25em;
  }
  a.addnew{
    font-size: 1em;
    color:#2b7798;
  }
}
.sidebar{
  margin-top: 25px;
}
/**
 * Footer
 */

.footer {
  margin-top: 20px;

  .footer-inner {
    padding: 40px 0;
    border-top: 1px solid #DDD;
  }

  .social {
    float: right;
    margin: 0;
    list-style: none;

    li {
      float: left;
      margin-left: 20px;

      a, a:visited {
        // color: @grayLight;
        text-decoration: none;
        font-size: 40px;
        .transition( 250ms ease-in-out );

        &:hover {
          color: @gray;
        }
      }
    }
  }
}


/**
 * Now that all app-wide styles have been applied, we can load the styles for
 * all the submodules and components we are using. 
 *
 * TODO: In a later version of this boilerplate, I'd like to automate this.
 */
@import '../app/login/login.less';
@import '../app/main/main.less';
