<!DOCTYPE html>
<html ng-app="myrecipes" ng-controller="AppCtrl">
  <head>
    <title ng-bind="pageTitle"></title>

    <!-- social media tags -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@matthewyang">
    <meta name="twitter:title" content="myrecipes">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="twitter:description" content="a little recipe tracking app with user login">
    <meta name="twitter:creator" content="@matthewyang">
    <meta name="twitter:image:src" content="https://a248.e.akamai.net/assets.github.com/images/modules/logos_page/Octocat.png?1366128846">
    <meta property="og:title" content="myrecipes" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="https://a248.e.akamai.net/assets.github.com/images/modules/logos_page/Octocat.png?1366128846" />
    <meta property="og:description" content="a little recipe tracking app with user login">

    <!-- font awesome from BootstrapCDN -->
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">

    
    <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="<%= file %>" /><% }); %>

    <!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
    <script type="text/javascript" src="<%= file %>"></script><% }); %>
    

    <!-- it's stupid to have to load it here, but this is for the +1 button 
    <script type="text/javascript" src="https://apis.google.com/js/plusone.js">
      { "parsetags": "explicit" }
    </script>-->

  </head>
  <body>
  <nav class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-target="#bs-example-navbar-collapse-1" ng-click="isCollapsed = !isCollapsed">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <span class="navbar-brand"><span ng-show="!isLoggedIn()">My</span> <span ng-show="isLoggedIn()">{{auth.user.first_name}}'s</span> Recipes</span>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class=" navbar-collapse" collapse="!isCollapsed" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li ui-route="/login" ng-class="{active:$uiRoute}">
        <a href="#/login" ng-show="!isLoggedIn()">
          <i class="fa fa-key"></i>
          Login
        </a>
      </li>
      <li ui-route="/main/listing" ng-show="isLoggedIn()" ng-class="{active:$uiRoute}">
        <a ui-sref="main.listing">
          <i class="fa fa-cutlery"></i>
          Recipes
        </a>
      </li>
       <li ui-route="/cooks" ng-show="isLoggedIn()" ng-class="{active:$uiRoute}">
        <a ui-sref="cooks">
          <i class="fa fa-group"></i>
          Cooks
        </a>
      </li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <li><a href="#" ng-click="logOut()" ng-show="isLoggedIn()">Logout</a></li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>

    <div ui-view="main"></div>

    <footer class="footer">
      <div class="container">
        <div class="footer-inner">
     
          <p>
            &copy; <script>document.write((new Date).getFullYear())</script> 
            
          </p>
        </div>
      </div>
    </footer>
  </body>
</html>
